



.gridContainer {
	display: grid;
	grid-template-areas: 
	"navbar navbar navbar navbar navbar navbar"
	"messages messages messages messages messages messages"
	"messages messages messages messages messages messages"
	"messages messages messages messages messages messages"
	"messages messages messages messages messages messages"
	"footer footer footer footer footer footer";
}

.navbar {
	grid-area: navbar;
}

.usersList {
	grid-area: usersList;
}

.messages {
	grid-area: messages;
}

.footer {
	grid-area: footer;
}

.users {
	position: fixed;
	right: 0;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
	.users {
		position: initial;
	}
.gridContainer {
	grid-template-areas: 
	"navbar navbar navbar navbar navbar navbar"
	"usersList usersList messages messages messages messages"
	"usersList usersList messages messages messages messages"
	"usersList usersList messages messages messages messages"
	"usersList usersList messages messages messages messages"
	"usersList usersList footer footer footer footer";
}
}
